# .env.example
BOT_TOKEN=your_token
PUBLIC_BASE_URL=https://your_domain_or_ip
PUBLISH_DIR=/srv/files
TMP_DIR=/tmp/bot
MAX_FILE_MB=100
IMAGEMAGICK_PATH=/usr/bin/convert
ICC_CMYK_PROFILE=/usr/share/color/icc/CMYK.icc
CONCURRENCY=2
VPS_HOST=your_host_ip_or_domain
VPS_PORT=22
VPS_SSH_KEY=your_private_key
VPS_USERNAME=botuser
